/* 
* @Author: Administrator
* @Date:   2019-08-07 16:15:33
* @Last Modified by:   Administrator
* @Last Modified time: 2019-08-07 16:18:10
*/
/*关于我们开始*/
.aboutWrap{min-width: 1000px; margin-bottom:20px; }
.aboutSide{position: fixed; z-index: 99; top: 192px; right: 28px; width: 47px; }
.aboutSideTop{height: 24px; background: url(../images/about_slide.png) no-repeat left top; }
.aboutSideLink{padding: 24px 0 12px; background: url(../images/about_slide.png) repeat-y -47px top; }
.aboutSideLink a{display: block; width: 19px; height: 19px; margin: 0 auto 14px; background: url(../images/about_slide.png) no-repeat -141px top; }
.aboutSideLink a:hover,
.aboutSideLink a.curr{background-position: -160px top; }
.aboutSideBottom{height: 24px; background: url(../images/about_slide.png) no-repeat -94px top; }

.astepWrap{ }
.astep{ }

.asTitle{font-size: 36px; color: #363636; text-align: center; line-height: 64px; font-weight: bold; }
.asContent{line-height: 24px; }

.astep_1{height: 680px; background: url(../images/about_banner_01.png) no-repeat center center; }
.astep_1 .asTitle{color: #000000;  }
.astep_1 .asContent{padding: 55px 0 0; color: #000000; line-height: 36px; font-size: 18px; width:1000px; margin: 0 auto; }

.astep_2{width: 1000px; margin: 0 auto; padding: 58px 0 80px; }
.astep_2 .asContent{padding: 40px 0 0; color: #3e3e3e; min-height:440px; }

.astep_3{height: 596px; padding: 84px 0 0; background: url(../images/about_banner_02.png) no-repeat center center; text-align: center; }
.astep_3 .asTitle{color: #000000;  }
.astep_3 .asContent{padding: 65px 0 0; color: #000000; line-height: 36px; font-size: 18px; }

.astep_4{width: 1000px; margin: 0  auto; padding: 62px 0 158px; overflow: hidden; }
.astep_4 .asSup{overflow: hidden; width: 1050px; padding: 132px 0 0; }
.astep_4 .asSupl{float: left; width: 290px; margin: 0 60px 0 0; }
.astep_4 .asSuplTitle{line-height: 36px; font-size: 24px; color: #2f2f2f; }
.astep_4 .asSuplIntro{padding: 24px 0 0; line-height: 30px; color: #2f2f2f; }

.astep_5{position: relative; z-index: 0; height: 680px; overflow: hidden; }
.as5Prev{position: absolute; left: 0; top: 266px; z-index: 9; width: 56px; height: 115px; background: url(../images/about_banner_ctrl.png) no-repeat left top; }
.as5Next{position: absolute; right: 0; top: 266px; z-index: 9; width: 56px; height: 115px; background: url(../images/about_banner_ctrl.png) no-repeat right top; }
.as5Prev:hover{background-position: left bottom; }
.as5Next:hover{background-position: right bottom; }
.as5Query{position: relative; z-index: 0; height: 680px; overflow: hidden; }
.as5Query li{position: absolute; top: 0; left: 0; height: 680px; width: 1000px; overflow: hidden; font-size: 0; line-height: 0; overflow: hidden; text-align: center; }
.as5Query li img{position: absolute; top: 0; }

.astep_6{height: 680px; width: 1000px; margin: 0 auto; background: url(../images/about_banner_04.png) no-repeat center 172px; }
.astep_6 .asTitle{padding: 84px 0 68px; color: #464646; }
.astep_6 .asContent{line-height: 30px; font-size: 14px; color: #464646; }

.astep_7{height: 680px; background: url(../images/about_banner_05.png) no-repeat center center; }
.as7Wrap{width: 920px; margin: 0 auto; padding: 80px 40px 0; }
.astep_7 .asTitle{text-align: center; color: #ffffff; }
.astep_7 .asContent{padding: 44px 0 0; font-size: 14px; line-height: 30px; color: #ffffff; }
.astep_7 .asjbWrap{padding: 14px 0 0; text-align: center; }
.astep_7 .asJoinBtn{display: inline-block; width: 214px; height: 66px; border: 2px solid #a5a5a5; background: url(../images/white_opacity.png); line-height: 66px; text-decoration: none; color: #ffffff; text-align: center; font-size: 18px; }
.astep_7 .asJoinBtn{*display: inline; zoom: 1;  }
.astep_7 .asJoinBtn:hover{background-image: url(../images/white_opacity_hover.png); }
/*关于我们结束*/